# Exclude REST_SPICKZETTEL.md
REST_SPICKZETTEL.md

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Pytest
.pytest_cache/

# Virtual Environment
venv/
.env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
